<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">  
  <title>Data source</title>
</head>
<body>
   <div id="container">
    <div id="navmain">
      <div id="navbar">
        <div id="logo">
            <a href="home"><image src="{{ url_for('static', filename='images/logo.png')}}"></image></a>
        </div>


<ul class="drop-down-menu">
        <li><a href="home">Home</a>
        </li>
        <li><a href="Australia">Australia</a>
        </li>
        <li><a href="NewSouthWales">New South Wales</a>
        <li><a href="Victoria">Victoria</a>
        </li>
        <li><a href="#">Sentiment Analysis</a>
                        <ul>
                <li><a href="heraldsun">heraldsun</a>
                </li>
                            
                <li><a href="Newsau">Newsau</a>
                </li>
                            
                <li><a href="dailytelegraph">dailytelegraph</a>
                </li>
                            
                <li><a href="Sentiment">All news organization</a>
                </li>             
            </ul>
            
        </li>
        <li><a href="data">Data source</a>
        </li>
    </ul>
  
        </div> 
      
      
       <div id="welcome">
        <h1>The data source of website</h1>
      </div>  
    </div> 
    
<h1>Data source</h1>
      
<h2>Datasets - Australian Government Department of Health</h2> 

      <p></p>
      <a 
         href="https://www. health.gov.au/">https://www.health.gov.au/</a>
<p></p>
       <h4>NSW infection case
</h4>
      <a href="https://data.nsw.gov.au/nsw-covid-19-data/cases">https://data.nsw.gov.au/nsw-covid-19-data/cases</a>
       
<p></p>
       <h4>NSW covid tests by location
</h4>
      <a href="https://data.nsw.gov.au/data/dataset/nsw-covid-19-tests-by-location/resource/fb95de01-ad82-4716-ab9a-e15cf2c78556?inner_span=True">https://data.nsw.gov.au/data/dataset/nsw-covid-19-tests-by-location/resource/fb95de01-ad82-4716-ab9a-e15cf2c78556?inner_span=True</a>
       
       <p></p>
       <h4>NSW covid tests by location-JSON
</h4>
      <a href="https://data.nsw.gov.au/data/dataset/nsw-covid-19-tests-by-location/resource/fb95de01-ad82-4716-ab9a-e15cf2c78556?inner_span=True">https://data.nsw.gov.au/data/dataset/nsw-covid-19-tests-by-location/resource/fb95de01-ad82-4716-ab9a-e15cf2c78556?inner_span=True</a>
       
      
<h2>Datasets - NSW covid tests by Age range</h2> 

      <p></p>
      <a 
         href="https://data.nsw.gov.au/data/dataset/nsw-covid-19-tests-by-age-range/resource/28730d42-675b-4573-ad71-8156313c73a1?inner_span=True">https://data.nsw.gov.au/data/dataset/nsw-covid-19-tests-by-age-range/resource/28730d42-675b-4573-ad71-8156313c73a1?inner_span=True</a>
<p></p>
       <h4>NSW covid tests by Age range-JSON
</h4>
      <a href="https://data.nsw.gov.au/data/datastore/dump/28730d42-675b-4573-ad71-8156313c73a1?format=json">https://data.nsw.gov.au/data/datastore/dump/28730d42-675b-4573-ad71-8156313c73a1?format=json</a>
       
<p></p>
       
       <h4>NSW Population projections:
</h4>
      <a href="https://www.planning.nsw.gov.au/Research-and-Demography/Population-projections/Projections">https://www.planning.nsw.gov.au/Research-and-Demography/Population-projections/Projections</a>
       
<p></p>
       
       <h4>NSW Population projections--EXCEL:

</h4>
      <a href="https://www.planning.nsw.gov.au/-/media/Files/DPE/Other/Research-and-demography/Population-Projections/2019-NSW-Population-Projections-DPIE-Planning-Regions.xlsx">https://www.planning.nsw.gov.au/-/media/Files/DPE/Other/Research-and-demography/Population-Projections/2019-NSW-Population-Projections-DPIE-Planning-Regions.xlsx</a>
       
<p></p>

        <h4>NSW clinics:

</h4>
      <a href="https://data.nsw.gov.au/data/dataset/covid-19-clinics/resource/85da884f-a9f5-4cb3-95e8-d6b81b0d2e3a">https://data.nsw.gov.au/data/dataset/covid-19-clinics/resource/85da884f-a9f5-4cb3-95e8-d6b81b0d2e3a</a>
       
<p></p>       
       
       <h4>NSW clinics--CSV:

</h4>
      <a href="https://data.nsw.gov.au/data/dataset/21c72b00-0834-464d-80f1-75fec38454ce/resource/85da884f-a9f5-4cb3-95e8-d6b81b0d2e3a/download/nsw-health-covid-19-test-clinics-2021-04-30.csv">https://data.nsw.gov.au/data/dataset/21c72b00-0834-464d-80f1-75fec38454ce/resource/85da884f-a9f5-4cb3-95e8-d6b81b0d2e3a/download/nsw-health-covid-19-test-clinics-2021-04-30.csv</a>
       
<p></p>     
        
       
  <h2>Datasets - Airport Traffic in Australian--CSV</h2> 

      <p></p>
      <a 
         href="https://data.gov.au/data/dataset/airport-traffic-data/resource/38bdc971-cb22-4894-b19a-814afc4e8164?inner_span=True">https://data.gov.au/data/dataset/airport-traffic-data/resource/38bdc971-cb22-4894-b19a-814afc4e8164?inner_span=True</a>     

       
       
         <h4>NSW clinics--CSV:

</h4>
      <a href="https://data.nsw.gov.au/data/dataset/21c72b00-0834-464d-80f1-75fec38454ce/resource/85da884f-a9f5-4cb3-95e8-d6b81b0d2e3a/download/nsw-health-covid-19-test-clinics-2021-04-30.csv">https://data.nsw.gov.au/data/dataset/21c72b00-0834-464d-80f1-75fec38454ce/resource/85da884f-a9f5-4cb3-95e8-d6b81b0d2e3a/download/nsw-health-covid-19-test-clinics-2021-04-30.csv</a>
       
<p></p>     
        
       
  <h2>Datasets - Victorian infection case</h2> 

      <p></p>
      <a 
         href="https://www.dhhs.vic.gov.au/victorian-coronavirus-covid-19-data">https://www.dhhs.vic.gov.au/victorian-coronavirus-covid-19-data</a>    
       
       
       
      
<h2>Victorian infection case--CSV</h2>
      <a href="https://www.dhhs.vic.gov.au/ncov-covid-cases-by-lga-source-csv">https://www.dhhs.vic.gov.au/ncov-covid-cases-by-lga-source-csv</a>
      
       
        <h2>Datasets - Victorian infection case by age</h2> 

      <p></p>
      <a 
         href="https://discover.data.vic.gov.au/dataset/all-victorian-sars-cov-2-cases-by-age-group">https://discover.data.vic.gov.au/dataset/all-victorian-sars-cov-2-cases-by-age-group</a>    
       
       
       
      
<h2>Victorian infection case by age--CSV</h2>
      <a href="https://www.dhhs.vic.gov.au/ncov-covid-cases-by-age-group-csv">https://www.dhhs.vic.gov.au/ncov-covid-cases-by-age-group-csv</a>
       
       
       
       
   <h2>data.civ.gov.au
</h2> 

      <p></p>
      <a 
         href="https://discover.data.vic.gov.au/dataset?sort=metadata_modified+desc&q=&organization=&groups=health&res_format=">https://discover.data.vic.gov.au/dataset?sort=metadata_modified+desc&q=&organization=&groups=health&res_format=</a>    
       
       
       
      
<h2>Victorian infection case by age--CSV</h2>
      <a href="https://www.dhhs.vic.gov.au/ncov-covid-cases-by-age-group-csv">https://www.dhhs.vic.gov.au/ncov-covid-cases-by-age-group-csv</a>    
       
       
       
   <h2>Victorian coronavirus data
</h2>
      <a href="https://discover.data.vic.gov.au/dataset/victorian-coronavirus-data
">https://discover.data.vic.gov.au/dataset/victorian-coronavirus-data
</a>       
       
       
       
       
       
       
<h2>Herald Sun | Breaking News from Melbourne and Victoria | Herald Sun. </h2>
      <a href="https://www.heraldsun.com.au/">https://www.heraldsun.com.au/</a>
      
<h2>news.com.au — Australia’s leading news site.</h2>
      <a href="https://www.news.com.au/">https://www.news.com.au/</a>
      
      
      
       
 





      
      
      
    <div id="footer">
<DIV style="text-align:center;"><a href="#navbar">Back to top</a></DIV>  
      </div>
  </div>
 </body>
</html>